PORT=3000
NODE_ENV=development

MONGO_ROOT_USERNAME=elitedev
MONGO_ROOT_PASSWORD=change_me

MONGODB_URI=mongodb://elitedev:change_me@mongo:27017/elitedev?authSource=admin

JWT_SECRET=change_me

SEED_ORGANIZADOR_EMAIL=organizador@elitedev.com
SEED_ORGANIZADOR_PASSWORD=change_me
SEED_PORTARIA_EMAIL=portaria@elitedev.com
SEED_PORTARIA_PASSWORD=change_me
