PORT=3000
NODE_ENV=development

MONGO_ROOT_USERNAME=elitedev
MONGO_ROOT_PASSWORD=change_me

MONGODB_URI=mongodb://elitedev:change_me@mongo:27017/elitedev?authSource=admin

JWT_SECRET=change_me

SEED_ORGANIZADOR_EMAIL=organizador@gmail.com
SEED_ORGANIZADOR_PASSWORD=change_me
SEED_PORTARIA_EMAIL=portaria@gmail.com
SEED_PORTARIA_PASSWORD=change_me
SEED_CLIENTE1_EMAIL=cliente1@gmail.com
SEED_CLIENTE1_PASSWORD=change_me
SEED_CLIENTE2_EMAIL=cliente2@gmail.com
SEED_CLIENTE2_PASSWORD=change_me

TMDB_BEARER_TOKEN=change_me

TICKETMASTER_API_KEY=change_me
